@page
@model LibaryWeb.Pages.Categories.EditModel


<form method="post">
    <input hidden asp-for="Category.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Update Book data</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Category.Title">Title</label>
            <input asp-for="Category.Title" class="form-control" />
            <span asp-validation-for="Category.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Category.Description ">Description </label>
            <input asp-for="Category.Description " class="form-control" />
            <span asp-validation-for="Category.Description " class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Category.Release_Date">Release Date</label>
            <input asp-for="Category.Release_Date" class="form-control" />
            <span asp-validation-for="Category.Release_Date" class="text-danger"></span>
        </div>
         <div class="mb-3">
            <label asp-for="Category.Author">Author</label>
            <input asp-for="Category.Author" class="form-control" />
            <span asp-validation-for="Category.Author" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px;"> Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}